.btn-container {
  margin-top: auto;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.btn-next,
.btn-back {
  text-decoration: none;
  font-weight: 700;
  text-transform: capitalize;
  font-size: 1.4rem;
  transition: all 0.3s ease;
}

.btn-back {
  color: var(--text-color-lighter);
  /* i added this margin here to make it align with the next btn */
  margin-bottom: 1.2rem;
}

.btn-back:hover {
  color: var(--primary-color-darker);
}

.btn-next {
  background-color: var(--primary-color-darker);
  padding: 1rem 2rem;
  border-radius: 8px;
  border: none;
  outline: none;
  color: white;
}

.btn-next:hover {
  background-color: var(--primary-color);
}

.disabled {
  background-color: var(--primary-color-lighter);
  cursor: not-allowed;
}

.disabled:hover {
  background-color: var(--primary-color-lighter);
}
